@font-face {
  font-family: 'Pony';
  src: url(./font/Pony.ttf);
}
/* body { 
  font-family: 'Pony';
  letter-spacing: 1px;
} */
#bt_game_bau_cua { 
  background-color: rgb(255, 155, 2);
  font-family: 'Pony';
  letter-spacing: 2px;
}
.diemcuoc { 
  font-weight: 400;
  font-size: 24px;
}
.canhgiua { 
  margin-left: 50%;
  transform: translateX(-50%);
}
